.nav-bar ul{
margin: 0;
padding: 0px;
width: 200px;
background-color: #f1f1f1;
}

.nav-bar a{
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}

.nav-bar-container{
    border: 1px solid #e8e8e8;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    width: 26%;
    margin: 20px;
    height: 500px;
    background: white;
}
.nav-bar p{
    margin: auto;
    font-size: 18px;
    color: #333;
}

.nav-bar img{
 width: 100%;
 object-fit: cover;
}
