.nav-bar ul{
margin: 0;
padding: 0px;
width: 200px;
background-color: #f1f1f1;
}

.nav-bar a{
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
    display: block;
}

.nav-bar-container{
    border: 1px solid red;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    width: 25%;
}

.nav-bar p{
    margin: auto;
}

.nav-bar img{
 width: 100%;
 object-fit: cover;
}
