.quotes{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    
}

.quote{
    border: 2px solid green;
    width: 49%;
}

img{
    height: 200px;
}

.quote-content{
    margin: auto;
}

.quote-content li{
    text-align: left;
}

.quote-text{
    text-overflow: ellipsis;
    font-size: 40px;
}

.quote-container{
    display: inline-block;
    margin: 0 10% 0 10%;
}