.quotes{
    border: 1px solid red;

    
}

.quotes{
    border: 2px solid green;
}

img{
    height: 200px;
}

.quote-content{
    margin: auto;
}

.quote-content li{
    text-align: left;
    display: inline-flex;
}

.quote-text{
    text-overflow: ellipsis;
    font-size: 40px;
}

.quote-container{
    display: inline-block;
    margin: 0 10% 0 10%;
}

.quote-text-container{
    border: 1px solid black;
    display: flex;
    width: 80%;
    margin: auto;
    height: 150px;
}

.quote-image-container{
    width: 50%;
    border: 1px solid blue;
    display: inline-flex;
}